MDK-ARM/NRF24L01/*.o
MDK-ARM/NRF24L01/ *.bak 
MDK-ARM/NRF24L01/ *.ddk 
MDK-ARM/NRF24L01/ *.edk 
MDK-ARM/NRF24L01/ *.lst 
MDK-ARM/NRF24L01/ *.lnp 
MDK-ARM/NRF24L01/ *.mpf 
MDK-ARM/NRF24L01/ *.mpj 
MDK-ARM/NRF24L01/ *.obj 
MDK-ARM/NRF24L01/ *.omf 
MDK-ARM/NRF24L01/ *.opt 
MDK-ARM/NRF24L01/ *.plg 
MDK-ARM/NRF24L01/ *.rpt 
MDK-ARM/NRF24L01/ *.tmp 
MDK-ARM/NRF24L01/ *.__i 
MDK-ARM/NRF24L01/ *.crf 
MDK-ARM/NRF24L01/ *.o 
MDK-ARM/NRF24L01/ *.d 
MDK-ARM/NRF24L01/ *.axf 
MDK-ARM/NRF24L01/ *.tra 
MDK-ARM/NRF24L01/ *.dep            
MDK-ARM/NRF24L01/ JLinkLog.txt 

MDK-ARM/NRF24L01/ *.iex 
MDK-ARM/NRF24L01/ *.htm 
MDK-ARM/NRF24L01/ *.sct 
MDK-ARM/NRF24L01/ *.map 
